/* Table of Contents */

/* root */
/* Main Container */
/* Main Graph */
/* Graph Highlights*/
/* Event Planner */
/* How it was built */
/* @media queries device breakpoints */


:root{
  --main_alignment: center;
}

/*-------------------------- Main Container------------------------- */

.main-container {
    margin: .5rem;
    display: grid;
    grid-gap: 0.2rem;
    border-radius: 0.1rem;
    justify-content: var(--main_alignment);
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr;
    grid-template-areas:
    "nav_bar nav_bar"
    "main_graph main_graph"
    "highlights highlights"
    "event_planner event_planner"
    "how_built how_built"
}
  
/*-------------------------- Nav Bar------------------------- */

.nav_bar {
  background-color: teal;
  grid-area: nav_bar;

}
/*-------------------------- Main Graph------------------------- */

.main_graph {
  background-color: #f18282;
  grid-area: main_graph;
}

/*--------------------------  Highlights------------------------- */


.highlights {
  background: rgb(109, 109, 200);
  grid-area: highlights;
}

/*-------------------------- Event Planner------------------------- */


.event_planner {
  background: rgb(241, 241, 200);
  grid-area: event_planner;
}

/*-------------------------- How it was built------------------------- */

.how_built {
  background: rgb(84, 209, 200);
  grid-area: how_built;
}

/*-------------------------- Device Breakpoints------------------------- */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr;
    grid-template-areas:
      "nav_bar nav_bar"
      "main_graph highlights"
      "event_planner how_built";
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .main-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.8fr;
    grid-template-areas:
      "nav_bar nav_bar nav_bar nav_bar"
      "main_graph highlights event_planner how_built";
  }
}